.board-with-panel{
	display: flex;
	height: 100%;
	bottom: 0;
}
.main-container {
	float: left;
	position: relative;
	left: 50%;
}
.fixer-container {
	float: left;
	position: relative;
	left: -50%;
}

.left-panel{
	flex:1;
	bottom: 0; 
}
.extended-right-panel{
	flex:3;
	bottom: 0;
	display: block;
  margin-left: auto;
  margin-right: auto;
}


@media only screen and (max-width: 400px) {
	.extended-right-panel { display:none !important; }
}

@media only screen and (max-width: 400px) {
	.left-panel { width: 100% }
}

h1{
		text-align: center;
		font-family: 'PhosphateSolid';
		text-transform: uppercase;
		margin: 0.2em;
		font-size: 20px;
		color: #4A4A4A;
}