.social-icons{
	display: inline-block;
  margin-left: auto;
	margin-right: auto;
}

.main-container {
	float: left;
	position: relative;
	left: 50%;
}
.fixer-container {
	float: left;
	position: relative;
	left: -50%;
}

.board-with-panel{
	display: flex;
	height: 100%;
	bottom: 0;
}
