.containermsg{
 width: 100%;
 position:relative;
}

.headerbox{
	background-color: #F5F5F5;
	top: 0px;
	padding: 0.5em 1em 0.5em;
	box-shadow: 0 4px 0 0 rgba(0,0,0,0.10);
	margin-bottom: 14px;
}

.headermsg-middle{
	font-family: 'PhosphateSolid';
	text-transform: uppercase;
	margin: 1em;
	
}

.messageboard p{
	padding:0.5em;
	border-radius: 30px;
	margin:0.4em;
	font-size:14px;
	position: relative;
}
/* individualmessage formating */
.yourmsg {
	background-color:  #E3E3E3;
}
.oppmsg{
	align-items: right;
	background-color: rgba(41,121,255,0.4)
} 
.system{
	color:#2979FF;
}

.enterbox{
font-family: 'Roboto', sans-serif;
background-color: #F5F5F5;
padding: 0.5em;
position:absolute; 
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
float:bottom;
}
.entrymsg {
	padding:0.6em 1.4em 0.6em;
	border-radius: 30px;
	margin:0.2em;
	background: #FFFFFF;
	box-shadow:inset 0px 4px 0 0 rgb(221, 222, 225);
	border: 0;
	font-size:14px;
	width: 70%;
	height: 2em;
	float: left;
}

.btnsendmessage{
	background: url("../Images/sendarrow.png"), rgba(41,121,255);
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
	width: 4em;
	height: 4em;
	margin-left: 1em;
	border-radius: 60px;
	border: 0;
	box-shadow: inset 0 -5px 0 0 rgba(0,0,0,0.20);
	float:right;
}

.btnsendmessage:active {
	background-color: rgb(35, 98, 207);
	width: 4em;
	height: 4em;
	margin-left: 1em;
	border-radius: 60px;
	border: 0;
	box-shadow: inset 0 5px 0 0 rgba(0,0,0,0.20);
	outline: none;
}

.btnsendmessage:focus {
	outline: none;
}

input:focus, textarea:focus button:focus {
	outline: none;
}

.imgsendmessage{
	height: 3em;
	width: 3em;
}

.li {
	display: block;
	clear: both;
}

.clearfix:after { 
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
}
.clearfix { 
	display: inline-block;  
}
* html .clearfix {  
	height: 1%;  
} 
.clearfix {  
	display: block;  
}

div#chat-box {
	background: #fff;
	padding: 10px;
	margin: 0 auto;
	max-width: 600px
}

ul.messages {
	padding: 10px;
		 list-style-type: none;
}

ul.messages li {
	display: block;
	position: relative;
	float: left;
	min-width: 250px;
	background: #E3E3E3;;
	border: 4px solid transparent;
	border-radius: 20px;
	padding: 5px;
	color: #000000 ;
	margin-bottom: 15px;
	font-family: 'Roboto', sans-serif;
}

ul.messages li:after, ul.messages li:before {
	right: 100%;
	top: 40%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

ul.messages li:after {
	border-color: rgba(166, 172, 186, 0);
	border-right-color: #E3E3E3;;
	border-width: 10px;
	margin-top: -5px;
}
ul.messages li:before {
	border-color: rgba(0, 0, 0, 0);
	border-right-color: transparent;
	border-width: 26px;
	margin-top: -26px;
}

ul.messages li:nth-child(2n) {
	background: #2878ff;
	float: right;
}

ul.messages li:nth-child(2n):after, ul.messages li:nth-child(2n):before {
	border-right-color: transparent;
	left: 100%;
}

ul.messages li:nth-child(2n):after {
	border-left-color: #2878ff;
}
ul.messages li:nth-child(2n):before {
	border-left-color: transparent;
} 