
.board-square {
	height: 1.6rem;
	width: 1.6rem;
	border-radius: 5px;
	color: black;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
.board-normal{
	margin: 1px;
}

.board-head-top{
	margin: 8px 0.8px 0px 0.8px;
}

.board-head-left{
	margin: 0px;
}

.board-unselected {
	background: #E3E3E3;
	box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.06);
}

.board-opp-unselected {
	background: #5BB4FF;
	box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.06);
}

.board-selected {
	background: #2979FF;
	box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.06);
}	

.board-row {
	display: flex;
	flex-direction: row;
	width: 300px;
}
.board-column {
	display: flex;
	flex-direction: column;
	border: 1px red solid;
	width: 500px;
}
.board {
	height: 20em;
	text-align: center;
	background: #FFFFFF !important;
	box-shadow: 0 4px 0 0 rgba(0,0,0,0.10);
	width: 20em;
	margin: 0.5em;
}

#questionmarks{
	color: #FFFFFF !important;
}
